<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} - PhysioCareWeb</title>
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
</head>
<body>
    {% include "menu.njk" %}
    
    <main class="container mt-4">
        {% block content %}{% endblock %}
    </main>

    <script src="/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html> 